.mail {
  display: flex;
  flex-direction: column;
  margin-top: 5%;

  & > h3 {
    margin-left: 5%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--btn {
      color: $textColor;
      background-color: $whiteColor;
      border-radius: 30px;
      border: $whiteColor;
      padding: 1rem;
      margin: 5% 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }

    &--btn:active {
      box-shadow: inset 4px 4px 8px rgba(102, 98, 98, 0.5),
      inset -6px -6px 10px rgba(255, 255, 255, 1);
    }
  }
}

@media (min-width: 45rem) {
  .mail {
    margin-top: 0;
    padding-top: 2%;
    align-items: center;

    & > h3 {
      margin: 0 0 .5% 0;
      transform: translateX(-280px);
    }

    &__form {

      &--area {
        width: 40rem;
        border-radius: 10px;
        background-color: gray;
        transition: all .4s;

        &:focus {
          background-color: $whiteColor;
        }
      }
    }
  }
}