.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    padding: 0.5em 0;
    background: $footerColor;
    color: $whiteColor;

    &__burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-bottom: 2%;
        border-radius: 50%;
        background: $footerColor;
        box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.69),
            -6px -6px 10px rgba(109, 109, 109, 0.5);
        z-index: 2;

        &>:nth-child(1) {
            display: block;
            width: 20px;
            height: 2px;
            position: relative;
            top: -10%;
            background: $whiteColor;
            transition: all .6s ease-in-out;
        }

        &>:nth-child(2) {
            display: block;
            width: 20px;
            height: 2px;
            position: relative;
            background: $whiteColor;
            transition: all .6s ease-in-out;
        }

        &>:nth-child(3) {
            display: block;
            width: 20px;
            height: 2px;
            position: relative;
            top: 10%;
            background: $whiteColor;
            
        }

        &--list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0.7em 0;
            position: absolute;
            background: $footerColor;
            z-index: -1;
            transition: all .8s;
            &>li>* {
                color: $whiteColor;
            }
        }

    }

}
// == animation pour menu burger made from scratch ==//
.slideUp {
    z-index: 1;
    transform: translateY(-12vh);
    transition: all 1s;
}


