header {
    background: #C4C4C4;
    padding: 0.8rem 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 0.9rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;


    &__left {
        display: flex;
        justify-content: center;
        width: 250px;

        &>ul>li:first-child {
            display: flex;
            align-items: center;

            & span {
                margin-right: 2%;
            }
        }


        &>ul>li:last-child {
            display: flex;
            justify-content: center;
            align-items: center;

            & span {
                margin-right: 2%;
            }
        }
    }

    &__right {
        width: 110px;

        &>ul {
            display: flex;
            justify-content: space-around;
        }

        &--linkledin {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 4%;
        }

        &--github {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.contact {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 1em;
    padding: 0.8em 0;

    &__left {
        display: flex;
        align-items: center;

        &--logo {
            padding: 1%;
        }

        &--text {
            display: flex;
            flex-direction: column;
            margin-left: 2%;

            &>span:last-child {
                font-size: 1em;
                color: #000;
            }
        }
    }
    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;

        &>a {
            padding: 0.2em 0.8em;
            border-radius: 30px;
            background: #6F009F;
            color: #000;
        }
    }
}