.realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__container {
    display: flex;
  }

  &__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 270px;
    margin: 0 .6em;
    padding: 0.5em .5em;
    position: relative;
    transform: translateY(-50px);
    border-radius: 30px;
    background: $whiteSmoke;
    box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32),
    inset 1px 1px 1px rgba(0, 0, 0, 0.4);

    &--img {
      width: 248px;
      height: 144px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh);
      opacity: .8;
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5),
      -6px -6px 10px rgba(255, 255, 255, 1);
      padding: .5em;
      background: $whiteSmoke;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 5%;

    & > * {
      width: 20px;
      height: 20px;
      margin-right: 5%;
      border-radius: 50%;
      background: $whiteColor;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    & > span:active {
      background: #6C009B;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .active {
    background: #6C009B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .target {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all .8s;
  }

  .slideFromRight {
    z-index: 1;
    opacity: 1;
    animation: KeySlideFromRight 1.5s;
  }

  &__modals {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .8s;

    &--article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      height: 600px;
      margin: 0 .6em;
      padding: 0.5em .5em;
      position: relative;
      transform: translateY(-50px);
      border-radius: 30px;
      background: $whiteSmoke;
      box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32),
      inset 1px 1px 1px rgba(0, 0, 0, 0.4);
      transition: all .5s;
      opacity: 0;
    }

    &--img {
      width: 100%;
      height: 244px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh);
    }

    &--resume {
      line-height: 1.6;
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-top: 20%;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5),
      -6px -6px 10px rgba(255, 255, 255, 1);
      padding: .5em;
      background: $whiteSmoke;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer;
    }
  }
}

.m-active {
  opacity: 1;
  z-index: 1;
  transition: all .5s ease-in-out;
}

.is-none {
  display: none;
}

@keyframes KeySlideFromRight {
  from {
    transform: translate(120vw, -50px);
  }
  to {
    transform: translate(0, -50px);
  }

}