.realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__container {
    display: flex;
  }

  &__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 320px;
    margin: 0 .6em;
    padding: 0.5em .5em;
    position: relative;
    transform: translateY(-50px);
    border-radius: 30px;
    background: $whiteSmoke;
    box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32),
    inset 1px 1px 1px rgba(0, 0, 0, 0.4);

    &--img {
      width: 248px;
      height: 144px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh);
      opacity: .8;

      &:nth-child(1) {
        object-position: 2px;
      }
    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5),
      -6px -6px 10px rgba(255, 255, 255, 1);
      padding: .5em;
      background: $whiteSmoke;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer;
      transform: translateY(15px);
    }
  }

  &__btn {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 5%;

    & > * {
      width: 20px;
      height: 20px;
      margin-right: 5%;
      border-radius: 50%;
      background: $whiteColor;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    & > span:active {
      background: #6C009B;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .active {
    background: #6C009B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .target {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all .8s;
  }

  .slideFromRight {
    z-index: 1;
    opacity: 1;
    animation: KeySlideFromRight 1.5s;
  }

  &__modals {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;

    &--article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      height: 600px;
      margin: 0 .6em;
      padding: 0.5em .5em;
      position: relative;
      transform: scale(0) translateY(-50px);
      border-radius: 30px;
      background: $whiteSmoke;
      box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32),
      inset 1px 1px 1px rgba(0, 0, 0, 0.4);
      opacity: 0;

      &[id="modal-2"] {
        height: 700px;
      }

      &[id="modal-4"] {
        height: 700px;
      }
    }

    &--img {
      width: 100%;
      height: 244px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh);
    }

    &--resume {
      line-height: 1.6;
      margin-bottom: 3%;

      & > a {
        color: $blackColor;
      }

    }

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-top: 8%;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5),
      -6px -6px 10px rgba(255, 255, 255, 1);
      padding: .5em;
      background: $whiteSmoke;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer;


    }
  }
}

.m-active {
  opacity: 1;
  z-index: 1;
}

.realisation__modals--article.m-active {
  //animation: growFromCenter .8s;
  transform: scale(1) translate(0, -50px);
  transition: transform 1s;
}

//fonctionne avec le settimeout sur sont parent realisation__modals en js
.realisation__modals--article.is-none {
  position: absolute;
  z-index: -1;
  transition: transform .8s, all 1s;
}


@keyframes growFromCenter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1) translate(0, -50px);

  }
}

//TODO revenir sur l'animation pour quitté le modal, fonctionne pas actuellement
//Une autre animation provisoire est en place juste au dessus.
@keyframes reduceFromCenter {
  from {
    transform: scale(1) translate(0, -50px);
  }
  to {
    transform: scale(0) translate(0, -50px);

  }
}

@keyframes KeySlideFromRight {
  from {
    transform: translate(120vw, -50px);
  }
  to {
    transform: translate(0, -50px);
  }

}

.realisation__dekstop {
  display: none;
}

@media (min-width: 45rem) {
  /* ici les trois petits boutons pour le carousel, désactivé pour le moment */
  /* travail à faire en js pour la section 2 et 3 pour dekstop */
  .realisation__btn {
    display: none;
  }
  .realisation {
    display: flex;
    overflow-x: hidden;

    &__container {
      display: none;
    }

    &__dekstop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 60rem;
      height: 70vh;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 25rem;
        height: 25rem;
        position: absolute;
        top: 58%;
        left: 50%;
        background-color: $whiteColor;
        border: solid 1px $titleColor;
        transform: translate(-50%, -260px) rotate(45deg);
      }

      &--article {
        display: flex;
        width: 420px;
        position: relative;
        background-color: $whiteColor;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, .6),
        -4px -4px 9px rgba(255, 255, 255, .7);
        cursor: pointer;

        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }

      &--bloc {
        margin-left: 2%;
        line-height: 1.4;
        color: $blackColor;
        opacity: .8;

        &:nth-child(even) {
          margin-right: 2%;
        }
      }

      &--img {
        display: flex;
        width: 200px;
        height: 115px;
        min-width: 200px;
        object-fit: cover;

      }
    }


    &__btn {
      padding-bottom: 0;
      margin: 1% 0;
    }

    &__modals {
      width: 100%;
      height: 100%;

      &--article {
        width: 900px;

        &[id="modal-2"] {
          height: 600px;
        }
        &[id="modal-4"] {
          height: 600px;
        }
      }

      &--btn {
        position: absolute;
        top: 88%;
        margin-top: 0;
      }

      &--resume {
        margin-bottom: 2%;
      }
    }
  }

  .realisation__modals--article.m-active {
    transform: scale(1) translate(0, 0);
  }
  /* selectionne la deuxieme image du bloc grâce à l'attribut */
  .realisation__dekstop--article[data-id="2"] > img {
    object-position: -2px;
  }
}