* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 62.5%;
    color: #6F009F;
}

a:link {
    text-decoration: none;
    color: #6F009F;
}

li {
    list-style: none;
}

strong {
    font-weight: normal;
}