$blackColor: #000;
$whiteColor: #ffffff;
$whiteSmoke: #f3f3f3;
$headerColor: #C4C4C4;
$titleColor: #57007D;
$textColor: #6F009F;
$footerColor: #363434;
$titleFont: 'Pinyon Script',
serif;

@import 'reset';
@import "header";
@import 'presentation';
@import 'realisation';
@import 'veille';
@import 'contact';
@import 'footer';

.isnone {
    display: none;
}

@media (min-width: 45rem) {
    main {
        background-color: $whiteSmoke;
    }
    .rvdimage {
        display: none;
    }
}