$blackColor: #000;
$whiteColor: #ffffff;
$whiteSmoke: #f3f3f3;
$headerColor: #C4C4C4;
$titleColor: #57007D;
$textColor: #6F009F;
$footerColor: #363434;
$titleFont: 'Pinyon Script',
serif;

@import 'reset';
@import "header";
@import 'presentation';
@import 'realisation';
@import 'footer';

.isnone {
    display: none;
}