* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: 62.5%;
  color: #6F009F; }

a:link {
  text-decoration: none;
  color: #6F009F; }

li {
  list-style: none; }

strong {
  font-weight: normal; }

header {
  background: #C4C4C4;
  padding: 0.8rem 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 0.9rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header__left {
    display: flex;
    justify-content: center;
    width: 250px; }
    .header__left > ul > li:first-child {
      display: flex;
      align-items: center; }
      .header__left > ul > li:first-child span {
        margin-right: 2%; }
    .header__left > ul > li:last-child {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__left > ul > li:last-child span {
        margin-right: 2%; }
  .header__right {
    width: 110px; }
    .header__right > ul {
      display: flex;
      justify-content: space-around; }
    .header__right--linkledin {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4%; }
    .header__right--github {
      display: flex;
      flex-direction: column;
      align-items: center; }

.contact {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 1em;
  padding: 0.8em 0; }
  .contact__left {
    display: flex;
    align-items: center; }
    .contact__left--logo {
      padding: 1%; }
    .contact__left--text {
      display: flex;
      flex-direction: column;
      margin-left: 2%; }
      .contact__left--text > span:last-child {
        font-size: 1em;
        color: #000; }
  .contact__right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; }
    .contact__right > a {
      padding: 0.2em 0.8em;
      border-radius: 30px;
      background: #6F009F;
      color: #000; }

