* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: 62.5%;
  color: #6F009F; }

a:link {
  text-decoration: none;
  color: #6F009F; }

li {
  list-style: none; }

strong {
  font-weight: normal; }

header {
  background: #C4C4C4;
  padding: 0.8rem 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 0.9rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header__left {
    display: flex;
    justify-content: center;
    width: 250px; }
    .header__left > ul > li:first-child {
      display: flex;
      align-items: center; }
      .header__left > ul > li:first-child span {
        margin-right: 2%; }
    .header__left > ul > li:last-child {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__left > ul > li:last-child span {
        margin-right: 2%; }
  .header__right {
    width: 110px; }
    .header__right > ul {
      display: flex;
      justify-content: space-around; }
    .header__right--linkledin {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4%; }
    .header__right--github {
      display: flex;
      flex-direction: column;
      align-items: center; }

.contact {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 1em;
  padding: 0.2em 0; }
  .contact__left {
    display: flex;
    align-items: center; }
    .contact__left--logo {
      padding: 1%; }
    .contact__left--text {
      display: flex;
      flex-direction: column;
      margin-left: 2%; }
      .contact__left--text > span:last-child {
        font-size: 1em;
        color: #000; }
  .contact__right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; }
    .contact__right > a {
      padding: 0.2em 0.8em;
      border-radius: 30px;
      background: #6F009F;
      color: #000; }

.doMore {
  display: flex;
  justify-content: center; }

.presentation {
  display: block;
  border-radius: 20px;
  margin: 0 .6em;
  padding: 0.5em 0;
  position: relative;
  transform: translateY(-50px);
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(111, 0, 159, 0.58); }
  .presentation__title {
    display: flex;
    width: 80%;
    margin-left: 5%;
    color: #57007D;
    font-family: "Pinyon Script", serif; }
    .presentation__title::before {
      content: "";
      width: 3px;
      height: 18px;
      margin-right: 2%;
      position: relative;
      transform: translateY(5px);
      background: #6F009F; }
  .presentation__article {
    margin: 0 2em;
    color: #6F009F;
    line-height: 1.4; }
    .presentation__article--first {
      margin-bottom: 2%; }

.rvdimage {
  display: flex;
  width: 350px;
  justify-content: center;
  position: relative; }
  .rvdimage__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background: #ffffff; }
  .rvdimage__canvas {
    position: absolute;
    transform: translateY(-20px);
    z-index: -1; }

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding: 0.5em 0;
  background: #363434;
  color: #ffffff; }
  .footer__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 2%;
    border-radius: 50%;
    background: #363434;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.69), -6px -6px 10px rgba(109, 109, 109, 0.5);
    z-index: 2; }
    .footer__burger > :nth-child(1) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      top: -10%;
      background: #ffffff;
      transition: all .6s ease-in-out; }
    .footer__burger > :nth-child(2) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      background: #ffffff;
      transition: all .6s ease-in-out; }
    .footer__burger > :nth-child(3) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      top: 10%;
      background: #ffffff; }
    .footer__burger--list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.7em 0;
      position: absolute;
      background: #363434;
      z-index: -1;
      transition: all .8s; }
      .footer__burger--list > li > * {
        color: #ffffff; }

.slideUp {
  z-index: 1;
  transform: translateY(-12vh);
  transition: all 1s; }

.isnone {
  display: none; }

