* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: 62.5%;
  color: #6F009F; }

a:link {
  text-decoration: none;
  color: #6F009F; }

li {
  list-style: none; }

strong {
  font-weight: normal; }

header {
  background: #C4C4C4;
  padding: 0.8rem 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 0.9rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header__left {
    display: flex;
    justify-content: center;
    width: 250px; }
    .header__left > ul > li:first-child {
      display: flex;
      align-items: center; }
      .header__left > ul > li:first-child span {
        margin-right: 2%; }
    .header__left > ul > li:last-child {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__left > ul > li:last-child span {
        margin-right: 2%; }
  .header__right {
    width: 110px; }
    .header__right > ul {
      display: flex;
      justify-content: space-around; }
    .header__right--linkledin {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4%; }
    .header__right--github {
      display: flex;
      flex-direction: column;
      align-items: center; }

.contact {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 1em;
  padding: 0.2em 0; }
  .contact__left {
    display: flex;
    align-items: center; }
    .contact__left--logo {
      padding: 1%; }
    .contact__left--text {
      display: flex;
      flex-direction: column;
      margin-left: 2%; }
      .contact__left--text > span:last-child {
        font-size: 1em;
        color: #000; }
  .contact__right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; }
    .contact__right > a {
      padding: 0.2em 0.8em;
      border-radius: 30px;
      background: #6F009F;
      color: #000; }

.doMore {
  display: flex;
  justify-content: center; }

.presentation {
  display: block;
  border-radius: 20px;
  margin: 0 .6em;
  padding: 0.5em 0;
  position: relative;
  transform: translateY(-50px);
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(111, 0, 159, 0.58); }
  .presentation__title {
    display: flex;
    width: 80%;
    margin-left: 5%;
    color: #57007D;
    font-family: "Pinyon Script", serif; }
    .presentation__title::before {
      content: "";
      width: 3px;
      height: 18px;
      margin-right: 2%;
      position: relative;
      transform: translateY(5px);
      background: #6F009F; }
  .presentation__article {
    margin: 0 2em;
    color: #6F009F;
    line-height: 1.4; }
    .presentation__article--first {
      margin-bottom: 2%; }

.rvdimage {
  display: flex;
  width: 374px;
  justify-content: center;
  position: relative;
  margin-bottom: 10%; }
  .rvdimage__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background: #ffffff; }
  .rvdimage__canvas {
    position: absolute;
    transform: translateY(-20px);
    z-index: -1; }

.realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .realisation__container {
    display: flex; }
  .realisation__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 270px;
    margin: 0 .6em;
    padding: 0.5em .5em;
    position: relative;
    transform: translateY(-50px);
    border-radius: 30px;
    background: #f3f3f3;
    box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32), inset 1px 1px 1px rgba(0, 0, 0, 0.4); }
    .realisation__bloc--img {
      width: 248px;
      height: 144px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh);
      opacity: .8; }
    .realisation__bloc--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5), -6px -6px 10px white;
      padding: .5em;
      background: #f3f3f3;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer; }
  .realisation__btn {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 5%; }
    .realisation__btn > * {
      width: 20px;
      height: 20px;
      margin-right: 5%;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .realisation__btn > span:active {
      background: #6C009B;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .realisation .active {
    background: #6C009B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .realisation .target {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all .8s; }
  .realisation .slideFromRight {
    z-index: 1;
    opacity: 1;
    animation: KeySlideFromRight 1.5s; }
  .realisation__modals {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; }
    .realisation__modals--article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      height: 600px;
      margin: 0 .6em;
      padding: 0.5em .5em;
      position: relative;
      transform: scale(0) translateY(-50px);
      border-radius: 30px;
      background: #f3f3f3;
      box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
      opacity: 0; }
    .realisation__modals--img {
      width: 100%;
      height: 244px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh); }
    .realisation__modals--resume {
      line-height: 1.6; }
    .realisation__modals--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-top: 20%;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5), -6px -6px 10px white;
      padding: .5em;
      background: #f3f3f3;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer; }

.m-active {
  opacity: 1;
  z-index: 1; }

.realisation__modals--article.m-active {
  transform: scale(1) translate(0, -50px);
  transition: transform 1s; }

.realisation__modals--article.is-none {
  position: absolute;
  z-index: -1;
  transition: transform .8s, all 1s; }

@keyframes growFromCenter {
  from {
    transform: scale(0); }
  to {
    transform: scale(1) translate(0, -50px); } }

@keyframes reduceFromCenter {
  from {
    transform: scale(1) translate(0, -50px); }
  to {
    transform: scale(0) translate(0, -50px); } }

@keyframes KeySlideFromRight {
  from {
    transform: translate(120vw, -50px); }
  to {
    transform: translate(0, -50px); } }

.veille {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px; }
  .veille__bloc {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    transform: translateY(20px); }
    .veille__bloc--a {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.veille__img--circle1 {
  position: absolute;
  animation: rotate 22s linear infinite; }

.veille__img--circle2 {
  position: absolute;
  animation: rotate 22s linear infinite; }

.veille__img--circle3 {
  position: absolute; }

.veille__bloc--img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
  top: calc(50% - 45%);
  left: calc(50% - 45%); }

.last {
  margin-bottom: 10%; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding: 0.5em 0;
  background: #363434;
  color: #ffffff; }
  .footer__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 2%;
    border-radius: 50%;
    background: #363434;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.69), -6px -6px 10px rgba(109, 109, 109, 0.5);
    z-index: 2; }
    .footer__burger > :nth-child(1) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      top: -10%;
      background: #ffffff;
      transition: all .6s ease-in-out; }
    .footer__burger > :nth-child(2) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      background: #ffffff;
      transition: all .6s ease-in-out; }
    .footer__burger > :nth-child(3) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      top: 10%;
      background: #ffffff; }
    .footer__burger--list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.7em 0;
      position: absolute;
      background: #363434;
      z-index: -1;
      transition: all .8s; }
      .footer__burger--list > li > * {
        color: #ffffff; }

.slideUp {
  z-index: 1;
  transform: translateY(-12vh);
  transition: all 1s; }

.isnone {
  display: none; }

