@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font: 62.5%;
  color: #6F009F; }

a:link {
  text-decoration: none;
  color: #6F009F; }

li {
  list-style: none; }

strong {
  font-weight: normal; }

header {
  background: #C4C4C4;
  padding: 0.8rem 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 0.9rem; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header__left {
    display: flex;
    justify-content: center;
    width: 250px; }
    .header__left > ul > li:first-child {
      display: flex;
      align-items: center; }
      .header__left > ul > li:first-child span {
        margin-right: 2%; }
    .header__left > ul > li:last-child {
      display: flex;
      justify-content: center;
      align-items: center; }
      .header__left > ul > li:last-child span {
        margin-right: 2%; }
  .header__right {
    width: 110px; }
    .header__right > ul {
      display: flex;
      justify-content: space-around; }
    .header__right--linkledin {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4%; }
    .header__right--github {
      display: flex;
      flex-direction: column;
      align-items: center; }

.contact {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 0 1em;
  padding: 0.2em 0; }
  .contact__left {
    display: flex;
    align-items: center; }
    .contact__left--logo {
      padding: 1%; }
    .contact__left--text {
      display: flex;
      flex-direction: column;
      margin-left: 2%; }
      .contact__left--text > span:last-child {
        font-size: 1em;
        color: #000; }
  .contact__right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; }
    .contact__right > a {
      padding: 0.2em 0.8em;
      border-radius: 30px;
      background: rgba(87, 0, 125, 0.43);
      color: #000; }

.doMore {
  display: flex;
  justify-content: center; }

nav {
  display: none; }

.doMore__dekstop {
  display: none; }

/* Desktop version */
@media (min-width: 45rem) {
  .doMore {
    display: none; }
  .doMore__dekstop {
    display: block;
    width: 100%;
    height: 50vh; }
    .doMore__dekstop--img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .contact__left {
      width: 21%;
      font-size: 1.6rem; }
  nav {
    display: block; }
  .navbar-global-wrapper-ul {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    padding: 4rem 0; }
  .navbar-wrapper-link {
    display: flex;
    place-content: space-around;
    place-items: center;
    width: 90%; }
  .navbar-wrapper-link > * {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background: whitesmoke;
    border-radius: 50%;
    text-align: center;
    /* Nota bene NE JAMAIS USE DE MARGIN POUR ESPACER DES ELEMENTS ENTRE EUX OU
    USE EN % UNIQUEMENT THANKS FLEX
    */ }
  .navbar-wrapper-link > li::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background: #57007D;
    opacity: 0.3;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    z-index: 1; }
  .navbar-wrapper-link > li:hover::before {
    transition: .3s;
    opacity: 1; }
  .navbar-wrapper-link > li > h3 {
    color: rgba(0, 0, 0, 0.6); }
  .navbar-wrapper-link > li::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: rgba(87, 0, 125, 0.43);
    top: 5%;
    left: 5%;
    border-radius: 50%;
    opacity: 0; }
  .navbar-wrapper-link > li:hover::after {
    transition: .3s;
    opacity: 1; }
  .navbar-wrapper-link > li a {
    display: block;
    /* par defaut a est en display inline du coup pour la taille > dblock */
    position: relative;
    /*obliger de le mettre en relative pour que le link soit au dessus des speudo elements pour clické */
    width: 100%;
    height: 100%;
    z-index: 2; }
  .navbar-wrapper-link > li a:hover {
    border-bottom: 2px solid #57007D;
    margin-top: 10px;
    width: 70px;
    left: 14%; } }

.presentation {
  display: block;
  border-radius: 20px;
  margin: 0 .6em;
  padding: 0.5em 0;
  position: relative;
  transform: translateY(-50px);
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(111, 0, 159, 0.58); }
  .presentation__title {
    display: flex;
    width: 80%;
    margin-left: 5%;
    color: #57007D;
    font-family: "Pinyon Script", serif; }
    .presentation__title::before {
      content: "";
      width: 3px;
      height: 18px;
      margin-right: 2%;
      position: relative;
      transform: translateY(5px);
      background: #6F009F; }
  .presentation__article {
    margin: 0 2em;
    color: #6F009F;
    line-height: 1.4; }
    .presentation__article--first {
      margin-bottom: 2%; }

.rvdimage {
  display: flex;
  width: 374px;
  justify-content: center;
  position: relative;
  margin-bottom: 10%; }
  .rvdimage__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background: #ffffff; }
  .rvdimage__canvas {
    position: absolute;
    transform: translateY(-20px);
    z-index: -1; }

.rvdimage__dekstop {
  display: none; }

/* Desktop version */
@media (min-width: 45rem) {
  .rvdimage__dekstop {
    display: flex;
    align-items: center; }
    .rvdimage__dekstop--img {
      width: 50%;
      object-fit: cover; }
  .presentation {
    display: none; }
    .presentation__dekstop--title {
      display: flex;
      width: 80%;
      margin-left: 5%;
      color: #57007D;
      font-family: "Pinyon Script", serif;
      font-size: 2.5rem; }
      .presentation__dekstop--title::before {
        content: "";
        width: 3px;
        height: 32px;
        margin-right: 2%;
        position: relative;
        transform: translateY(7px);
        background: #6F009F; }
    .presentation__dekstop--article {
      margin: 0 2em;
      color: #6F009F;
      line-height: 1.4; }
    .presentation__dekstop--first {
      margin-bottom: 2%;
      margin-left: 5%; }
    .presentation__dekstop--two {
      margin-left: 5%; }
  .presentation__dekstop--article {
    display: block;
    position: relative;
    margin: 0 .6em;
    padding: 0.5em 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(111, 0, 159, 0.58);
    border-radius: 20px;
    transform: translateX(-101px); } }

.realisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .realisation__container {
    display: flex; }
  .realisation__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 320px;
    margin: 0 .6em;
    padding: 0.5em .5em;
    position: relative;
    transform: translateY(-50px);
    border-radius: 30px;
    background: #f3f3f3;
    box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32), inset 1px 1px 1px rgba(0, 0, 0, 0.4); }
    .realisation__bloc--img {
      width: 248px;
      height: 144px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh);
      opacity: .8; }
      .realisation__bloc--img:nth-child(1) {
        object-position: 2px; }
    .realisation__bloc--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5), -6px -6px 10px white;
      padding: .5em;
      background: #f3f3f3;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer;
      transform: translateY(15px); }
  .realisation__btn {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 5%; }
    .realisation__btn > * {
      width: 20px;
      height: 20px;
      margin-right: 5%;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .realisation__btn > span:active {
      background: #6C009B;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .realisation .active {
    background: #6C009B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .realisation .target {
    position: absolute;
    opacity: 0;
    z-index: -1;
    transition: all .8s; }
  .realisation .slideFromRight {
    z-index: 1;
    opacity: 1;
    animation: KeySlideFromRight 1.5s; }
  .realisation__modals {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; }
    .realisation__modals--article {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      height: 600px;
      margin: 0 .6em;
      padding: 0.5em .5em;
      position: relative;
      transform: scale(0) translateY(-50px);
      border-radius: 30px;
      background: #f3f3f3;
      box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.32), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
      opacity: 0; }
      .realisation__modals--article[id="modal-2"] {
        height: 700px; }
      .realisation__modals--article[id="modal-4"] {
        height: 700px; }
    .realisation__modals--img {
      width: 100%;
      height: 244px;
      object-fit: cover;
      border-radius: 30px;
      margin-bottom: calc(0.5em + .5vh); }
    .realisation__modals--resume {
      line-height: 1.6;
      margin-bottom: 3%; }
      .realisation__modals--resume > a {
        color: #000; }
    .realisation__modals--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-top: 8%;
      box-shadow: 4px 4px 8px rgba(102, 98, 98, 0.5), -6px -6px 10px white;
      padding: .5em;
      background: #f3f3f3;
      border-radius: 50%;
      font-size: 2em;
      font-weight: 900;
      cursor: pointer; }

.m-active {
  opacity: 1;
  z-index: 1; }

.realisation__modals--article.m-active {
  transform: scale(1) translate(0, -50px);
  transition: transform 1s; }

.realisation__modals--article.is-none {
  position: absolute;
  z-index: -1;
  transition: transform .8s, all 1s; }

@keyframes growFromCenter {
  from {
    transform: scale(0); }
  to {
    transform: scale(1) translate(0, -50px); } }

@keyframes reduceFromCenter {
  from {
    transform: scale(1) translate(0, -50px); }
  to {
    transform: scale(0) translate(0, -50px); } }

@keyframes KeySlideFromRight {
  from {
    transform: translate(120vw, -50px); }
  to {
    transform: translate(0, -50px); } }

.realisation__dekstop {
  display: none; }

@media (min-width: 45rem) {
  /* ici les trois petits boutons pour le carousel, désactivé pour le moment */
  /* travail à faire en js pour la section 2 et 3 pour dekstop */
  .realisation__btn {
    display: none; }
  .realisation {
    display: flex;
    overflow-x: hidden; }
    .realisation__container {
      display: none; }
    .realisation__dekstop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 60rem;
      height: 70vh;
      position: relative; }
      .realisation__dekstop::before {
        content: '';
        display: block;
        width: 25rem;
        height: 25rem;
        position: absolute;
        top: 58%;
        left: 50%;
        background-color: #ffffff;
        border: solid 1px #57007D;
        transform: translate(-50%, -260px) rotate(45deg); }
      .realisation__dekstop--article {
        display: flex;
        width: 420px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6), -4px -4px 9px rgba(255, 255, 255, 0.7);
        cursor: pointer; }
        .realisation__dekstop--article:nth-child(even) {
          flex-direction: row-reverse; }
      .realisation__dekstop--bloc {
        margin-left: 2%;
        line-height: 1.4;
        color: #000;
        opacity: .8; }
        .realisation__dekstop--bloc:nth-child(even) {
          margin-right: 2%; }
      .realisation__dekstop--img {
        display: flex;
        width: 200px;
        height: 115px;
        min-width: 200px;
        object-fit: cover; }
    .realisation__btn {
      padding-bottom: 0;
      margin: 1% 0; }
    .realisation__modals {
      width: 100%;
      height: 100%; }
      .realisation__modals--article {
        width: 900px; }
        .realisation__modals--article[id="modal-2"] {
          height: 600px; }
        .realisation__modals--article[id="modal-4"] {
          height: 600px; }
      .realisation__modals--btn {
        position: absolute;
        top: 88%;
        margin-top: 0; }
      .realisation__modals--resume {
        margin-bottom: 2%; }
  .realisation__modals--article.m-active {
    transform: scale(1) translate(0, 0); }
  /* selectionne la deuxieme image du bloc grâce à l'attribut */
  .realisation__dekstop--article[data-id="2"] > img {
    object-position: -2px; } }

.veille {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px; }
  .veille__bloc {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    transform: translateY(20px); }
    .veille__bloc--a {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%; }

.veille__img--circle1 {
  position: absolute;
  animation: rotate 22s linear infinite; }

.veille__img--circle2 {
  position: absolute;
  animation: rotate 22s linear infinite; }

.veille__img--circle3 {
  position: absolute; }

.veille__bloc--img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
  top: calc(50% - 45%);
  left: calc(50% - 45%); }

.last {
  margin-bottom: 10%; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@media (min-width: 45rem) {
  .veille {
    max-width: 100%; }
    .veille > div:nth-child(1) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      max-width: 1100px;
      margin: 5% 0; }
  .last {
    margin-bottom: 0; } }

.mail {
  display: flex;
  flex-direction: column;
  margin-top: 5%; }
  .mail > h3 {
    margin-left: 5%; }
  .mail__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mail__form--btn {
      color: #6F009F;
      background-color: #ffffff;
      border-radius: 30px;
      border: #ffffff;
      padding: 1rem;
      margin: 5% 0;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer; }
    .mail__form--btn:active {
      box-shadow: inset 4px 4px 8px rgba(102, 98, 98, 0.5), inset -6px -6px 10px white; }

@media (min-width: 45rem) {
  .mail {
    margin-top: 0;
    padding-top: 2%;
    align-items: center; }
    .mail > h3 {
      margin: 0 0 .5% 0;
      transform: translateX(-280px); }
    .mail__form--area {
      width: 40rem;
      border-radius: 10px;
      background-color: gray;
      transition: all .4s; }
      .mail__form--area:focus {
        background-color: #ffffff; } }

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding: 0.5em 0;
  background: #363434;
  color: #ffffff; }
  .footer__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 2%;
    border-radius: 50%;
    background: #363434;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.69), -6px -6px 10px rgba(109, 109, 109, 0.5);
    z-index: 2; }
    .footer__burger > :nth-child(1) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      top: -10%;
      background: #ffffff;
      transition: all .6s ease-in-out; }
    .footer__burger > :nth-child(2) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      background: #ffffff;
      transition: all .6s ease-in-out; }
    .footer__burger > :nth-child(3) {
      display: block;
      width: 20px;
      height: 2px;
      position: relative;
      top: 10%;
      background: #ffffff; }
    .footer__burger--list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.7em 0;
      position: absolute;
      background: #363434;
      z-index: -1;
      transition: all .8s; }
      .footer__burger--list > li > * {
        color: #ffffff; }

.slideUp {
  z-index: 1;
  transform: translateY(-12vh);
  transition: all 1s; }

@media (min-width: 45rem) {
  .footer {
    justify-content: flex-end;
    height: 10vh;
    margin-top: 0; }
    .footer__burger {
      display: none; }
      .footer__burger--list {
        display: none; } }

.conception {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem; }
  .conception > h1 {
    font-size: calc(1.2vw + 12px); }
  .conception__plan {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem; }
  .conception__java {
    margin-bottom: 2%; }
    .conception__java--title {
      font-size: calc(1vw + 12px); }
    .conception__java--ul {
      margin-left: 2%; }
    .conception__java--li {
      border-bottom: 1px solid #6F009F;
      padding: 1rem; }
      .conception__java--li > a {
        color: rgba(0, 0, 0, 0.7);
        font-size: calc(.5vw + 12px);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3); }
  .conception__admin {
    margin-bottom: 2%; }
    .conception__admin--title {
      font-size: calc(1vw + 12px); }
    .conception__admin--ul {
      margin-left: 2%; }
    .conception__admin--li {
      border-bottom: 1px solid #6F009F;
      padding: 1rem; }
      .conception__admin--li > a {
        color: rgba(0, 0, 0, 0.7);
        font-size: calc(.5vw + 12px);
        border-bottom: 2px solid rgba(0, 0, 0, 0.3); }
  .conception__front--title {
    font-size: calc(1vw + 12px); }
  .conception__front--ul {
    margin-left: 2%; }
  .conception__front--li {
    border-bottom: 1px solid #6F009F;
    padding: 1rem; }
    .conception__front--li > a {
      color: rgba(0, 0, 0, 0.7);
      font-size: calc(.5vw + 12px);
      border-bottom: 2px solid rgba(0, 0, 0, 0.3); }
  .conception__mobile--title {
    font-size: calc(1vw + 12px); }
  .conception__mobile--ul {
    margin-left: 2%; }
  .conception__mobile--li {
    border-bottom: 1px solid #6F009F;
    padding: 1rem; }
    .conception__mobile--li > a {
      color: rgba(0, 0, 0, 0.7);
      font-size: calc(.5vw + 12px);
      border-bottom: 2px solid rgba(0, 0, 0, 0.3); }

.isnone {
  display: none; }

@media (min-width: 45rem) {
  main {
    background-color: #f3f3f3; }
  .rvdimage {
    display: none; } }

